checker.js
executor.js
**/datasets
**/config
**/exercise-*/scripts/*
javascript/examples/
.idea
docker-compose.yml
ExercicesMongoDB.txt
server/node_modules
SampleCollections
./server/db.js

client/node_modules
